name: Build and Deploy QR Menu

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - name: Install deps
              run: bun install

            - name: Build
              run: bun run build

            - name: Commit docs
              run: |
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"
                  git add docs
                  git commit -m "auto build" || echo "no changes"
                  git push
